.weather {
  font-family: arial, sans-serif;
  border: 1px solid #9aa0a6;
  color: #9aa0a6;
  padding: 20px;
}
h1 {
  font-size: 30px;
  font-weight: 100;
  margin: 20px 0 0 0;
}

ul {
  padding: 0;
}

li {
  line-height: 19px;
  list-style: none;
}
.temperature {
  color: rgb(33, 33, 33, 0.8);
  font-size: 66px;
  line-height: 64px;
  font-weight: 400;
  margin-left: 10px;
}

.weather-icon {
  vertical-align: top;
}

.unit {
  color: rgb(33, 33, 33, 0.8);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;
}
